@import "tailwindcss";
* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  background: #0b2434;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}